<nav class="navbar navbar-expand-lg px-0 py-2 p-3 shadow-sm rounded">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <h3>BVG</h3>
      <!-- <img
        src="https://preview.webpixels.io/web/img/logos/clever-light.svg"
        class="h-8"
        alt="..."
      /> -->
    </a>
    <!-- Navbar toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" href="#" aria-current="page"
          >Home</a
        >
        <a class="nav-item nav-link" href="#">Product</a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0 search-btn">
        <!-- <a
          href="#"
          class="btn btn-sm rounded-lg bg-red-500 hover:bg-red-600 w-full w-lg-auto"
        >
          Search
        </a> -->
        <button type="button" class="btn mr-md-2 mb-md-0 mb-2">
          <i class="bi bi-search mr-1"></i> Search <i class=""></i>
        </button>
      </div>
    </div>
  </div>
</nav>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="./assets/img/img-hero.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        loading="lazy"
        width="700"
        height="500"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-2 mb-3">Search your employee</h1>
      <!-- <p class="lead">
        Quickly design and customize responsive mobile-first sites with
        Bootstrap, the world’s most popular front-end open source toolkit,
        featuring Sass variables and mixins, responsive grid system, extensive
        prebuilt components, and powerful JavaScript plugins.
      </p> -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-start search-btn">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
          Primary
        </button> -->
        <button type="button" class="btn btn-lg px-4 me-md-2 mt-4">
          <i class="bi bi-search mr-1"></i> Search <i class=""></i>
        </button>
      </div>
    </div>
  </div>
</div>
